<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>childOrder</key>
	<array/>
	<key>resolutionData</key>
	<dict>
		<key>childOrder</key>
		<dict/>
		<key>sheetClusters</key>
		<dict>
			<key>@- Ubuntu16-Vim-Encoding.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>565432787.47014105</real>
				<key>lastModification</key>
				<real>565432787.47014105</real>
				<key>version</key>
				<dict>
					<key>d3a8782aafaa7f6bb48c49e1094cb72557dccb90b572c15bb93416416bce063a</key>
					<integer>60</integer>
				</dict>
			</dict>
			<key>@dafa大法大法d.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>565393798.414747</real>
				<key>lastModification</key>
				<real>565393798.414747</real>
				<key>version</key>
				<dict>
					<key>d3a8782aafaa7f6bb48c49e1094cb72557dccb90b572c15bb93416416bce063a</key>
					<integer>46</integer>
				</dict>
			</dict>
			<key>Ubuntu16-Vim-Encoding.md</key>
			<dict>
				<key>lastModification</key>
				<real>565431347.39677703</real>
				<key>version</key>
				<dict>
					<key>d3a8782aafaa7f6bb48c49e1094cb72557dccb90b572c15bb93416416bce063a</key>
					<integer>54</integer>
				</dict>
			</dict>
			<key>Ubuntu16下系统中文乱.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>565393801.05975604</real>
				<key>lastModification</key>
				<real>565393801.05975604</real>
				<key>version</key>
				<dict>
					<key>d3a8782aafaa7f6bb48c49e1094cb72557dccb90b572c15bb93416416bce063a</key>
					<integer>47</integer>
				</dict>
			</dict>
			<key>blogbyhexo-opt.md</key>
			<dict>
				<key>lastModification</key>
				<real>565430470.29251802</real>
				<key>version</key>
				<dict>
					<key>d3a8782aafaa7f6bb48c49e1094cb72557dccb90b572c15bb93416416bce063a</key>
					<integer>53</integer>
				</dict>
			</dict>
			<key>ceshi.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>565392536.66682196</real>
				<key>lastModification</key>
				<real>565392536.66682196</real>
				<key>version</key>
				<dict>
					<key>d3a8782aafaa7f6bb48c49e1094cb72557dccb90b572c15bb93416416bce063a</key>
					<integer>17</integer>
				</dict>
			</dict>
			<key>如何解决Ubuntu16下系统中文乱码及Vim编辑器中汉字乱码问题 - 2.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>565393303.53054202</real>
				<key>lastModification</key>
				<real>565393303.53054202</real>
				<key>version</key>
				<dict>
					<key>d3a8782aafaa7f6bb48c49e1094cb72557dccb90b572c15bb93416416bce063a</key>
					<integer>29</integer>
				</dict>
			</dict>
			<key>如何解决Ubuntu下系统中文乱码及Vim编辑器中汉字乱码问题.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>565392761.61020803</real>
				<key>lastModification</key>
				<real>565392761.61020803</real>
				<key>version</key>
				<dict>
					<key>d3a8782aafaa7f6bb48c49e1094cb72557dccb90b572c15bb93416416bce063a</key>
					<integer>22</integer>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>如何解决Ubuntu下系统中文乱码及Vim编辑器中汉字乱码问题.md</string>
		</array>
		<array>
			<string>ceshi.md</string>
		</array>
		<array>
			<string>Ubuntu16-Vim-Encoding.md</string>
		</array>
		<array>
			<string>如何解决Ubuntu16下系统中文乱码及Vim编辑器中汉字乱码问题 - 2.md</string>
		</array>
		<array>
			<string>@dafa大法大法d.md</string>
		</array>
		<array>
			<string>Ubuntu16下系统中文乱.md</string>
		</array>
		<array>
			<string>@- Ubuntu16-Vim-Encoding.md</string>
		</array>
		<array>
			<string>blogbyhexo-opt.md</string>
		</array>
	</array>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>versioning</key>
	<dict>
		<key>childOrder</key>
		<dict>
			<key>d3a8782aafaa7f6bb48c49e1094cb72557dccb90b572c15bb93416416bce063a</key>
			<integer>1</integer>
		</dict>
		<key>sheetClusters</key>
		<dict>
			<key>d3a8782aafaa7f6bb48c49e1094cb72557dccb90b572c15bb93416416bce063a</key>
			<integer>60</integer>
		</dict>
	</dict>
</dict>
</plist>
